.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
  &__body {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    @include breakpoint($md-3, 0) {
      height: 70px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
    z-index: 4;
  }

  &__phone {
    @include breakpoint($md-5, 0){
      display: none;
    }
  }

  &__burger {
    display: none;
    @include breakpoint($md-3, 0) {
      width: 25px;
      display: block;
      position: relative;
      height: 20px;
      z-index: 4;
      &::before,
      &::after,
      span {
        position: absolute;
        left: 0;
        width: 100%;
        transition: all 0.3s ease;
        background-color: #283356;
        height: 2px;
        border-radius: 2px;
      }

      &::before {
        content: "";
        top: 0;
      }

      span {
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        content: "";
        bottom: 0;
      }
      &.active {
        &::before {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }

        span {
          transform: scale(0);
        }

        &::after {
          bottom: 50%;
          transform: translateY(50%) rotate(45deg);
        }
      }
    }
  }

}

.menu {
  @include breakpoint($md-3, 0) {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 3;
    top: 0;
    left: -100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.2s ease-out;
    padding: 90px 0 20px;
    &::before{
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      height: 70px;
      width: 100%;
      background-color: #ffffff;
    }
    &.open {
      left: 0;
    }
  }
  &__phone{
    @include breakpoint($md-5, 1){
      display: none;
    }
  }
  &__list {
    display: flex;
    column-gap: 40px;
    @include breakpoint($md-1, 0) {
      gap: 30px;
    }
    @include breakpoint($md-3, 0) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    > li a {
      font-weight: 600;
      color: $primary;
      @media (any-hover: hover) {
        &:hover{
          color: $secondary;
        }
      }
    }
  }

}